{% extends 'base.html' %}


{% block head %}
<title>Change Password</title>
{% endblock %}



{% block body %}
<div class="logon-nav">
    <a href="{{url_for('settings')}}" style="color: orange;"> &laquo; Back</a>
</div>

<div class="container">
    <br>
    <h4 style="font-family: 'Goldman';">Change <span style="background-color: white; color:black; padding:3px;">Password</span></h4>
    <hr>
    {% with messages = get_flashed_messages() %}

    {% if messages %}
    {% for message in messages %}
    <div class="alert alert-danger alert-dismissable" role="alert">
        <button type="button" class="close" data-dismiss="alert" aria-label="close">
            <span aria-hidden="true">x</span>
        </button>
        {{ message }}
        <!-- <script>alert("Something wrong") </script> -->
        {% endfor %}

        {% endif %}
        {% endwith %}
</div>
</div>
<br>
<div class="container">
    <form action="/user/account/change_password" method="POST" style="font-family: 'Goldman';">

        <div class="form-group">
            <label for="exampleInputPassword1">Old Password</label>
            <input type="password" name="oldpassword" class="form-control" id="exampleInputPassword1"
                placeholder="Old Password" required>
            <br>

        </div>
        <div class="form-group">
            <label for="exampleInputPassword1">New Password</label>
            <input type="password" name="newpassword" class="form-control" id="exampleInputPassword1"
                placeholder="New Password" required>
            <br>

        </div>
        <div class="form-group">
            <label for="exampleInputPassword1">Re-enter New Password</label>
            <input type="password" name="newpassword2" class="form-control" id="exampleInputPassword1"
                placeholder="New Password" required>
            <br>

        </div>

        <button type="submit" name="Change" class="btn btn-warning">Change Password</button>
    </form>
</div>

<style>
    body {
        background-color: rgb(41, 41, 41);
        color: white;
    }

    .logon-nav {
        width: 100%;
        line-height: 45px;
        background-color: black;
    }

    .logon-nav a {
        color: white;
        font-family: 'Goldman';
        padding: 5px 20px 5px 20px;
    }
</style>
{% endblock %}